{% load static %}
<! DOCTYPE html>

<html lang="en-us">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    {% endblock meta %}
    {% block add_meta %}
    {% endblock add_meta %}
    <title>
        {% block title %}    {% endblock title %}
    </title>

    {% block head_fonts %}
    
    {% endblock head_fonts %}

    {% block head_styles %}
     <link rel="stylesheet" type="text/css"
                                    href="{% static 'css/style.css' %}">
    {% endblock head_styles %}

    {% block head_scripts %}

    {% endblock head_scripts %}
</head>

<body>
    {% block header %}

    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block body_scripts %}

    {% endblock body_scripts %}

    {% block footer %}

    {% endblock footer %}

</body>
</html>
